.CarouselEffect {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.CarouselEffect img {
  width: 1350px;
  height: 530px;
  object-fit: cover; /* This will ensure the image covers the area while maintaining aspect ratio */
}

.fade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: 1;
  pointer-events: none;
}

.fade::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, white, rgba(0, 0, 0, 0));
}
.CarouselEffect .imageContainer {
  width: 1350px;
  height: 530px;
  overflow: hidden;
}

.CarouselEffect .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}